{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %}
Home
{% endblock title %}



{% block body %}
<div class="jumbotron p-3">
    <h2>Manage
        <b>Nasabah</b>
        <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#addModal">Tambah
            Nasabah Baru</button>
    </h2>


    {% with messages = get_flashed_messages() %}

    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-success alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">x</span></button>
        {{message}}
    </div>
    {% endfor %}

    {% endif %}

    {% endwith %}


    <table class="table table-hover table-bordered">
        <tr>
            <td>ID_Nasabah</td>
            <td>Nama</td>
            <td>No. Hp</td>
            <td>Foto</td>
            <td>Foto Auth</td>
            <td>Alamat</td>
            <td>isAuth</td>
            <td>Date Reg.</td>
            <td>Last Auth.</td>
            <td>Auth. Sim</td>
            <td>Action</td>
        </tr>

        {% for row in nasabah %}


        <tr>
            <td>{{row.id_nasabah}}</td>
            <td>{{row.nama}}</td>
            <td>{{row.phone}}</td>
            <td><img src="{{url_for('static', filename='/images/'+row.id_nasabah+'/dataset/'+row.foto)}}" alt=""
                    style="width: 150px;"></td>
            <td><img src="{{url_for('static', filename='/images/'+row.id_nasabah+'/auth/'+row.foto_auth)}}" alt=""
                    style="width: 150px;"></td>
            <td>{{row.alamat}}</td>
            <td>{{row.isAuth}}</td>
            <td>{{row.date_register}}</td>
            <td>{{row.date_auth}}</td>
            <td>{{row.auth_similarity}}</td>
            <td>
                <a href="javascript:void(0);" class="btn btn-info btn-xs btnEdit" data-id="{{row.id}}"
                    data-id_nasabah="{{row.id_nasabah}}" data-nama="{{row.nama}}">Edit {{row.id}}</a>
                <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs"
                    onclick="return confirm('Really to delete?')">Delete</a>
            </td>

        </tr>
        {% endfor %}
    </table>
</div>


<!-- modal tambah -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tambah Nasabah Baru</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form action="/insert" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="id_nasabah">ID Nasabah</label>
                            <input type="text" class="form-control" name="id_nasabah" id="id_nasabah" required="1">
                        </div>
                        <div class="form-group">
                            <label for="nama">Nama Nasabah</label>
                            <input type="text" class="form-control" name="nama" id="nama" required="1">
                        </div>
                        <div class="form-group">
                            <label for="phone">Nomor HP</label>
                            <input type="text" class="form-control" name="phone" id="phone" required="1">
                        </div>
                        <div class="form-group">
                            <label for="alamat">Alamat</label>
                            <input type="text" class="form-control" name="alamat" id="alamat" required="1">
                        </div>
                        <div class="form-group">
                            <label for="foto">Foto</label>
                            <input type="file" class="form-control" name="foto" id="foto" required="1">
                            <!-- <input type="file" id="capture" name="foto" accept="image/*" capture multiple /> -->
                            <!-- <input type="file" accept="image/*;capture=camera"> -->
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- akhir modal tambah -->

<!-- modal edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Employees</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form action="{{url_for('update')}}" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="hidden" name="id" value="">
                            <input type="text" class="form-control" name="name" id="name" required="1" value="">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" required="1" value="">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" name="phone" id="phone" required="1" value="">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" name="phone" id="phone" required="1" value="">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- akhir modal edit -->

<script>
    $(document).ready(function () {
        $('.btnEdit').click(function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            // $('#editModal').modal('show')
            // $.ajax({
            //     type: "GET",
            //     url: "http://127.0.0.1:5000/nasabah/"+id,
            //     data: "data",
            //     dataType: "dataType",
            //     success: function (response) {

            //     }
            // });
            console.log(id)
        });
    });
</script>
{% endblock body %}